.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.missionTextA {
  width: 216px;
  height: 28px;

  font-family: Noto Serif TC;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 28px;
}

.missionTextB {
  width: 1224px;
  height: 143px;

  font-family: Noto Serif TC;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  text-align: center;
  color: #212121;
}
