.meet {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;
}

.meetText {
  width: 344px;
  height: 159px;

  font-family: Noto Serif TC;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 79px;
  /* or 124% */
  margin-left: 40px;

  color: #212121;
}

.meetSlider {
  display: flex;
  overflow-x: auto;
}

.meetSlider::-webkit-scrollbar {
  width: 0;
}
